@font-face {
    font-family: 'Minecraftia';
    src: url('./fonts/Minecraftia-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
*{
    box-sizing: border-box;
}
html{
    height: 100vh;
    width: 100vw;
}
body{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    gap: 1em;
}
nav{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-image: linear-gradient(black, white);
    background-image: url("./Images/mossy_brick.jpeg");
    align-items: center;
    border: 2px, solid, black;
    box-shadow: 0px 4px 10px black;    
}
nav img{
    padding: 0;
    margin: 0;
    width: 7em;
    height: 6.5em;
}
nav button{
    height: 50%;
    width: 6em;
    background-color: rgb(26, 115, 23) ;
    border-radius: 4px;
    text-align: center;
    padding: 0;
    margin-right: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    margin-left: auto;
    margin-right: 3em;
}
nav button p{
    color: white;
    font-family: fantasy;
    font-size: 1.8em;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav button:hover{
    background-color:rgb(2, 82, 2) ;
    box-shadow: 0px 3px 5px black; 
}
h1{
    padding:0;
    margin: 0;
    color: white;
    font-family: fantasy, monospace, sans-serif;
    font-size: 3.5em;
    padding-left: 0.2em;
}
main{
    display: flex;
    flex-direction: column;
    flex-grow: 15;
    align-items: center;
    gap: 1em;
}
#user{
    color: white;
    position: relative;
    top: 0.5em;
    font-family: Minecraftia;
    font-size: 2em;
    padding: 0;
    margin-left: 8em;

}
#backVid{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Places the video behind all other content */
    object-fit: cover;
}
#navigate{
    width: 70%;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("./Images/clean_brick_smaller.jpg");
    border: #000 solid 1px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px black; 
}
#navigate button{
    color: white;
    height: 70%;
    width: 3.5em;
    background-color: rgb(26, 115, 23) ;
    border-radius: 4px;
    font-size: 1.5em;
    font-family: fantasy;
    text-align: center;
    padding: 0;
    margin-right: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}
#navigate input{
    height: 80%;
    width: 20em;
    margin-right: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 4px;
    border: #000 solid 1px;
    font-size: 1.25em;
    font-family: arial;
}
#navigate button:hover{
    background-color: rgb(2, 82, 2);
    box-shadow: 0px 1px 3px black;
}
#servers{   
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    
}
#servDisp {
    padding: 0;
    margin: 0;
    width: 12em;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    justify-content: flex-start; /* Align items at the top initially */
    border: #000 solid 1px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px black;
    background-image: url("./Images/clean_brick_smaller.jpg");
}
#servDisp img{
    width: 80%;
    height: auto;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    border-radius: 4px; 
}
#servDisp p{
    color: white;
    font-size: 1.25em;
    font-family: fantasy;
    text-align: center;
    padding: 0;
    margin-left: 0;
    margin-top: 0.2em;
    margin-right: 0;
    margin-bottom: 0;
}
#servDisp button {
    height: 3em;
    width: 100%;
    position: relative;
    background-color: rgb(30, 138, 26);
    color: white;
    font-size: 1em;
    font-family: fantasy;
    margin-top: auto; /* Push the button to the bottom */
    cursor: pointer;
}
#servDisp button:hover{
    background-color:rgb(2, 82, 2) ;
    box-shadow: 0px 3px 5px black; 
}
.solid{
    border-top: #908c8c solid 2px; 
}
#reviewSection{
    margin-top: 0.6em;
}
#post{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: #8B8B8B solid 5px;
    background-color: #0a0a0a;
    margin-top: 0.5em;
}
#reviewNoLog{
    color: white;
    width: 7em;
    background-color: rgb(26, 115, 23) ;
    border-radius: 4px;
    font-size: 1.5em;
    font-family: fantasy;
    text-align: center;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.2em;
    cursor: default;
}
#review{
    color: white;
    font-family: Minecraftia;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}
.text_outline{
    text-shadow:
  -2px -2px 0 #000,
   2px -2px 0 #000,
  -2.5px  2px 0 #000,
   2px  2px 0 #000,
  -1px -1px 0 #000,
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
}
.side-panel {
    height: 100%;
    width: 30em; /* Fixed width */
    position: fixed;
    top: 0;
    right: 0;
    background-color:  #C6C6C6;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    border: #8B8B8B solid 5px;
    border-right: none;
    z-index: 1000;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}
.side-panel a{
    color: white;
    float:right;
    cursor: pointer;
    font-family: Minecraftia;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}
.side-panel a:hover{
    text-shadow:
  -2px -2px 0 #000,
   2px -2px 0 #000,
  -2.5px  2px 0 #000,
   2px  2px 0 #000,
  -1px -1px 0 #000,
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
}
.side-panel button:hover{
    background-color:rgb(2, 82, 2) ;
    box-shadow: 0px 2px 2px black; 
}
.side-panel h2{
    color: white;
    font-family: Minecraftia;
    padding: 0;
    margin: 0;
    cursor: default;
}  
.side-panel.open {
    transform: translateX(0%);
}
.side-panel button{
    color: white;
    width: 7em;
    background-color: rgb(26, 115, 23) ;
    border-radius: 4px;
    font-size: 1.5em;
    font-family: fantasy;
    text-align: center;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.2em;
    cursor: pointer;
}
.dot {
    position: relative;
    left: 5em;
    bottom: 12em;
    height: 1em;
    width: 1em;
    background-color: #37d153;
    border-radius: 50%;
    display: inline-block;
  }
  
textarea {
    background-color: #000000;
    border: #8B8B8B solid 3px;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Minecraftia;
    width: 100%;
    height: 100px;
    margin: 10px 0;
}