*{
    box-sizing: border-box;
}
html{
    height: 100vh;
    width: 100vw;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    gap: 1em;
}
nav{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-image: linear-gradient(black, white);
    background-image: url("./Images/mossy_brick.jpeg");
    align-items: center;
    border: 2px, solid, black;
    box-shadow: 0px 4px 10px black;    
}
nav img{
    padding: 0;
    margin: 0;
    width: 7em;
    height: 6.5em;
}
h1{
    padding:0;
    margin: 0;
    color: white;
    font-family: fantasy, monospace, sans-serif;
    font-size: 3.5em;
    padding-left: 0.2em;
}
main{
    display: flex;
    flex-direction: column;
    flex-grow: 15;
    align-items: center;
    gap: 1em;
}
#backVid{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Places the video behind all other content */
    object-fit: cover;
}
#navigate{
    width: 70%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("./Images/clean_brick_smaller.jpg");
    border: #000 solid 1px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px black; 
}
#navigate button{
    color: white;
    height: 70%;
    width: 3.5em;
    background-color: rgb(26, 115, 23) ;
    border-radius: 4px;
    font-size: 1.5em;
    font-family: fantasy;
    text-align: center;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}
#navigate input{
    height: 80%;
    width: 20em;
    margin-right: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 4px;
    border: #000 solid 1px;
    font-size: 1.25em;
    font-family: fantasy;
}
#navigate button:hover{
    background-color: rgb(2, 82, 2);
    box-shadow: 0px 1px 3px black; 
}
#servers{   
    display: flex;
    flex-direction: row;
    gap: 3em;
    flex-wrap: wrap;
}
#servDisp{
    padding: 0;
    margin: 0;
    width: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #000 solid 1px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px black;
    background-image: url("./Images/clean_brick_smaller.jpg");
    
}
#servDisp img{
    width: 80%;
    height: 100%;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    border-radius: 4px; 
}
#servDisp p{
    color: white;
    font-size: 1.25em;
    font-family: fantasy;
    text-align: center;
    padding: 0;
    margin: 0;
}
#servDisp button{
    height: 3em;
    width: 100%;
    background-color: rgb(30, 138, 26);
    color: white;
    font-size: 1em;
    font-family: fantasy;
}
#servDisp button:hover{
    background-color:rgb(2, 82, 2) ;
    box-shadow: 0px 3px 5px black; 
}
.text_outline{
    text-shadow:
  -2px -2px 0 #000,
   2px -2px 0 #000,
  -2.5px  2px 0 #000,
   2px  2px 0 #000,
  -1px -1px 0 #000,
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
}